DB_NAMEDB_NAME=vexa
DB_PASSWORD=postgres
DB_USER=postgres
SMTP_HOST=smtp.mail.ai
SMTP_PORT=587
SMTP_USER=user@mail.ai
SMTP_PASS=password
SMTP_FROM=user@mail.ai
ADMIN_API_TOKEN=ADMINEXTRAHIDDENTOKEN
TRANSCRIBER_API_KEY=TRANSCRIBERAPIKEY
TRANSCRIBER_URL=https://transcription.vexa.ai/v1/audio/transcriptions
TRANSCRIBER_PROVIDER=Vexa
SKIP_TRANSCRIPTION_CHECK=false